.Mickey {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e0e44692-4aa1-4273-a997-f27141d83803/dap33j9-02da4311-3e54-410e-894d-546f09d20614.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZTBlNDQ2OTItNGFhMS00MjczLWE5OTctZjI3MTQxZDgzODAzXC9kYXAzM2o5LTAyZGE0MzExLTNlNTQtNDEwZS04OTRkLTU0NmYwOWQyMDYxNC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.ywHjcU2dAqPpLUL0p7jP2vhzr3rPryzkN4kr5rReLR0");
  background-repeat: no-repeat;
  background-size: 100% 95%;
  background-position: center;
}
/*
Mickey timeline
https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e0e44692-4aa1-4273-a997-f27141d83803/dap33j9-02da4311-3e54-410e-894d-546f09d20614.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZTBlNDQ2OTItNGFhMS00MjczLWE5OTctZjI3MTQxZDgzODAzXC9kYXAzM2o5LTAyZGE0MzExLTNlNTQtNDEwZS04OTRkLTU0NmYwOWQyMDYxNC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.ywHjcU2dAqPpLUL0p7jP2vhzr3rPryzkN4kr5rReLR0 

//Disney logo
https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_740,w_1100/v1555449052/shape/mentalfloss/waltdisneylogo.jpg?itok=9bzewNvg

// Disneyland castle
https://cdn.wallpapersafari.com/65/35/p89aBW.jpg

// Walt Disney and Mickey 
https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg/170px-Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg

*/
