.home {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: url("https://images.all-free-download.com/images/graphicthumb/set_of_wooden_palette_and_brushes_vector_550855.jpg");
}

.textContainer {
  position: relative;
  padding: 1%;
  text-align: center;
  font-weight: 500;
  margin: 2%;
  font-size: 1.4rem;
}
