.piper {
  background-image: url("./DVMT-6OXcAE2rZY.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 1%;
}
.text {
  font-weight: 700;
  font-size: 1rem;
  color: black;
  padding-top: 0.4%;
  padding-left: 2%;
  padding-right: 2%;
}
.butterfreeText {
  font-weight: 700;
  font-size: 0.9rem;
  color: black;
  padding-top: 0.4%;
  padding-left: 2%;
  padding-right: 2%;
}

.butterfree {
  width: 55%;
  height: auto;
}

.charmander {
  padding-top: 1%;
  width: 55%;
  height: auto;
}
